n8n-agent test.json
{
  "name": "n8n-agent test",
  "nodes": [
    {
      "parameters": {
        "url": "http://puppeteer:3000/scrape",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "https://matush-mmad24.users.earthengine.app/view/s2imgsearch"
            },
            {
              "name": "date",
              "value": "={{ $json.date }}"
            },
            {
              "name": "adm1",
              "value": "={{ $json.adm1 }}"
            },
            {
              "name": "buffer_km",
              "value": "={{ $json.buffer_km }}"
            },
            {
              "name": "cloud_max",
              "value": "={{ $json.cloud_max }}"
            },
            {
              "name": "limit",
              "value": "={{ $json.limit }}"
            },
            {
              "name": "timeout_ms",
              "value": "90000"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        256,
        0
      ],
      "id": "d1994f55-c803-4709-9ff4-68634b3d9b51",
      "name": "HTTP Request",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "16Wjd-h355xaTb2vPRxf8tWCbcSqOu6ktuY4Sf1Sm588",
          "mode": "list",
          "cachedResultName": "s2_img_table",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16Wjd-h355xaTb2vPRxf8tWCbcSqOu6ktuY4Sf1Sm588/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "2025",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16Wjd-h355xaTb2vPRxf8tWCbcSqOu6ktuY4Sf1Sm588/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "id": "={{$json[\"id\"]}}",
            "date": "{{$json[\"properties\"][\"date\"]}}",
            "mgrs": "{{$json[\"properties\"][\"mgrs\"]}}",
            "cloud_pct": "{{$json[\"properties\"][\"cloud_pct\"]}}",
            "overlap_m2": "{{$json[\"properties\"][\"overlap_m2\"]}}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mgrs",
              "displayName": "mgrs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cloud_pct",
              "displayName": "cloud_pct",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "overlap_m2",
              "displayName": "overlap_m2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        592,
        0
      ],
      "id": "9ae19330-b368-461c-902e-9e06fff31761",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2VOuJ4zSRCmP020l",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $json.features.map(f => {\n  return {\n    id: f.id,\n    date: f.properties.date,\n    mgrs: f.properties.mgrs,\n    cloud_pct: f.properties.cloud_pct,\n    overlap_m2: f.properties.overlap_m2\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "b9c2fd48-563b-4649-a29b-827ec757e16d",
      "name": "Function Item"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4-turbo",
          "mode": "list",
          "cachedResultName": "gpt-4-turbo"
        },
        "options": {
          "responseFormat": "json_object",
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -560,
        176
      ],
      "id": "1668328e-770d-42ab-9bb1-9f4b582913bd",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "5Hvd2ZkGAKFVh66C",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=Ти — спеціалізований форматувальник параметрів для API Google Earth Engine. Твоя єдина задача — перетворювати текстовий запит користувача на JSON. Ти НЕ маєш доступу до даних, НЕ аналізуєш їх і НЕ шукаєш інформацію. Ти лише структуруєш запит.\n\nПравила (важливо):\n1) Завжди відповідай у форматі JSON.\n2) Ніколи не згадуй про обмеження своїх знань або дату, до якої ти навчений. Ти приймаєш будь-яку дату, яку надає користувач (включно з майбутніми), якщо вона не раніше 24 лютого 2022 року.\n3) Якщо повідомлення користувача не містить наміру пошуку (це вітання/маленька розмова), АБО якщо бракує критичних параметрів (область; повна дата з роком) — поверни JSON для уточнення інформації. Цей JSON повинен мати таку структуру:\n   {\"status\": \"CLARIFY\", \"response\": \"Твоє повідомлення або уточнююче запитання тут\"}\n4) Якщо всі необхідні параметри є — поверни лише JSON з даними для запиту. Структура має бути така:\n   {\n     \"status\": \"COMPLETE\",\n     \"data\": {\n       \"mode\": \"json_text\",\n       \"date\": \"YYYY-MM-DD/YYYY-MM-DD\",\n       \"adm1\": \"Kharkivs'ka|Donets'ka|Luhans'ka|Zaporiz'ka|Khersons'ka|Mykolaivs'ka|Dnipropetrovs'ka\",\n       \"buffer_km\": <number>,\n       \"cloud_max\": <number>,\n       \"limit\": <number>\n     }\n   }\n5) Якщо про буфер, хмарність, або кількість знімків не питали, використовуй ці значення за замовчуванням: \"buffer_km\": 50, \"cloud_max\": 30, \"limit\": 30.\n6) Якщо користувач вказує неповну дату (наприклад, \"1-10 жовтня\" без року), твій обов'язок — уточнити рік.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -448,
        0
      ],
      "id": "f8f0ba4e-3946-446b-9c94-e89e63a812f8",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ JSON.parse($json.output).data }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        96,
        0
      ],
      "id": "ebe99c06-00bd-429e-9691-e068023b8caf",
      "name": "Parse params"
    },
    {
      "parameters": {
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -640,
        0
      ],
      "id": "2075e263-3b6b-4777-9e32-5a3197a981ed",
      "name": "When chat message received",
      "webhookId": "eb021301-d9ee-4129-bc01-a11b6acbd102"
    },
    {
      "parameters": {
        "message": "={{ JSON.parse($json.output).response }}",
        "waitUserReply": false,
        "options": {
          "memoryConnection": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        32,
        -208
      ],
      "id": "42fca3df-c2fb-4b56-bf3f-65ff592becc1",
      "name": "Respond to Chat",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ac62ebe3-b4e1-41b6-b360-b27fbf1a1d3d",
              "leftValue": "={{ JSON.parse($json.output).status }}",
              "rightValue": "CLARIFY",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -160,
        0
      ],
      "id": "baf5b0d0-376c-4804-9e56-75c820cd922e",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -400,
        192
      ],
      "id": "e2c5e4d7-ee28-4cba-ab41-2861f5a3dd94",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Function Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function Item": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse params": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respond to Chat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1c49db06-b602-432f-a841-256eafdb3fd5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cdf74c4ca778b38623e63d1db64bfeb0cc86345e0ac4dd0b056b72c8b6e72292"
  },
  "id": "aMERWTBtAoO8lGpf",
  "tags": []
}