AI_agent_sustainability_assistant/workflow_json/Hourly_DB_update.json
{
  "name": "Hourly_DB_update",
  "nodes": [
    {
      "parameters": {
        "url": "https://api.saveecobot.com/output.json",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        416,
        0
      ],
      "id": "16fda543-7caa-487c-b556-4d98b53bdefe",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const HOURS_BACK = 2;               \nconst WANT_POLLUTANT = 'PM2.5';    \n\nconst OBLAST_MAP = {\n  'київ': 'Kyiv City',\n  'київська': 'Kyiv',\n  'вінницька': 'Vinnytsia',\n  'волинська': 'Volyn',\n  'дніпропетровська': 'Dnipropetrovsk',\n  'донецька': 'Donetsk',\n  'житомирська': 'Zhytomyr',\n  'закарпатська': 'Zakarpattia',\n  'запорізька': 'Zaporizhzhia',\n  'івано-франківська': 'Ivano-Frankivsk',\n  'кировоградська': 'Kirovohrad',   \n  'кіровоградська': 'Kirovohrad',\n  'луганська': 'Luhansk',\n  'львівська': 'Lviv',\n  'миколаївська': 'Mykolaiv',\n  'одеська': 'Odesa',\n  'полтавська': 'Poltava',\n  'рівненська': 'Rivne',\n  'сумська': 'Sumy',\n  'тернопільська': 'Ternopil',\n  'харківська': 'Kharkiv',\n  'херсонська': 'Kherson',\n  'хмельницька': 'Khmelnytskyi',\n  'черкаська': 'Cherkasy',\n  'чернівецька': 'Chernivtsi',\n  'чернігівська': 'Chernihiv',\n  'киев': 'Kyiv City',\n  'киевская': 'Kyiv',\n  'днепропетровская': 'Dnipropetrovsk',\n  'кировоградская': 'Kirovohrad',\n  'львовская': 'Lviv',\n  'одесская': 'Odesa',\n  'харьковская': 'Kharkiv',\n  'запорожская': 'Zaporizhzhia',\n  'ивано-франковская': 'Ivano-Frankivsk',\n  'николаевская': 'Mykolaiv',\n  'рivneнская': 'Rivne',\n  'черновицкая': 'Chernivtsi',\n  'черкасская': 'Cherkasy',\n  'житомирская': 'Zhytomyr',\n  'волынская': 'Volyn',\n  'сумская': 'Sumy',\n  'тернопольская': 'Ternopil',\n  'луганская': 'Luhansk',\n  'донецкая': 'Donetsk',\n  'херсонская': 'Kherson',\n  'хмельницкая': 'Khmelnytskyi',\n  'черниговская': 'Chernihiv',\n  'полтавская': 'Poltava',\n  'винницкая': 'Vinnytsia',\n  'закарпатская': 'Zakarpattia',\n};\n\nfunction normalizeKey(s) {\n  return String(s || '')\n    .trim()\n    .toLowerCase()\n    .replace(/[`’'ʼ]/g, \"'\")\n    .replace(/[–—-]/g, '-')\n    .replace(/\\s+/g, ' ');\n}\n\nfunction oblastEn(rawName) {\n  const key = normalizeKey(rawName);\n  if (!key) return 'Unknown';\n  return OBLAST_MAP[key] || 'Unknown';\n}\n\n\nconst cityToOblast = new Map([\n  ['київ','Київ'], ['kyiv','Київ'],\n  ['львів','Львівська'], ['lviv','Львівська'],\n  ['харків','Харківська'], ['kharkiv','Харківська'],\n  ['дніпро','Дніпропетровська'], ['dnipro','Дніпропетровська'],\n  ['одеса','Одеська'], ['odesa','Одеська'],\n  ['полтава','Полтавська'], ['poltava','Полтавська'],\n  ['житомир','Житомирська'], ['zhytomyr','Житомирська'],\n  ['вінниця','Вінницька'], ['vinnytsia','Вінницька'],\n  ['суми','Сумська'], ['sumy','Сумська'],\n  ['чернігів','Чернігівська'], ['chernihiv','Чернігівська'],\n  ['черкаси','Черкаська'], ['cherkasy','Черкаська'],\n  ['запоріжжя','Запорізька'], ['zaporizhzhia','Запорізька'],\n  ['івано-франківськ','Івано-Франківська'], ['ivano-frankivsk','Івано-Франківська'],\n  ['ужгород','Закарпатська'], ['uzhhorod','Закарпатська'],\n  ['луцьк','Волинська'], ['lutsk','Волинська'],\n  ['чернівці','Чернівецька'], ['chernivtsi','Чернівецька'],\n  ['тернопіль','Тернопільська'], ['ternopil','Тернопільська'],\n  ['миколаїв','Миколаївська'], ['mykolaiv','Миколаївська'],\n  ['маріуполь','Донецька'], ['mariupol','Донецька'],\n  ['кривий ріг','Дніпропетровська'], ['kryvyi rih','Дніпропетровська'],\n  ['brovary', 'Київська'],\n  ['vyshenky', 'Київська'],\n  ['yuzhnoukrainsk', 'Миколаївська'],\n  ['verkhnivtseve', 'Дніпропетровська'],\n  ['lyshnia', 'Київська'],               \n  ['khrystynivka', 'Черкаська'],\n  ['trostianets', 'Сумська'],            \n  ['baranivka', 'Житомирська'],\n  ['khmilnyk', 'Вінницька'],\n  ['tomashpil', 'Вінницька'],\n  ['horishni plavni', 'Полтавська'],\n  ['vita-poshtova', 'Київська'],\n  ['kozyn', 'Київська'],\n  ['ivanyka', 'Київська'],               \n  ['berezhany', 'Тернопільська'],\n  ['mykolaivka', 'Дніпропетровська'],    \n  ['stepove', 'Дніпропетровська'],       \n  ['klavdievo-tarasove', 'Київська'],\n  ['bereznehuvatske', 'Миколаївська'],\n  ['zymne', 'Волинська'],\n  ['kazanka', 'Миколаївська'],\n  ['hoholove', 'Житомирська'],           \n  ['arbuzynka', 'Миколаївська'],\n  ['reia', 'Івано-Франківська'],         \n  ['kiliia', 'Одеська'],\n  ['zinkiv', 'Полтавська'],              \n  ['stebnyk', 'Львівська'],\n  ['tairove', 'Одеська'],\n  ['pokrov', 'Дніпропетровська'],\n  ['bobrovytsia', 'Чернігівська'],\n  ['nebelytsia', 'Київська'],\n  ['pidhorodne', 'Дніпропетровська'],\n  ['irpin', 'Київська'],\n  ['korolivka', 'Івано-Франківська'],   \n  ['rivne', 'Рівненська'],\n  ['kachanivka', 'Чернігівська'],\n  ['kodra', 'Київська'],\n  ['komarivka', 'Чернігівська'],        \n  ['solone', 'Дніпропетровська'],\n  ['chornomorsk', 'Одеська'],\n  ['katerynivka', 'Донецька'],           \n  ['ostroh', 'Рівненська'],\n  ['yasinia', 'Закарпатська'],\n  ['makariv', 'Київська'],\n  ['nizhyn', 'Чернігівська'],\n  ['illintsi', 'Вінницька'],\n  ['sloboda-selets', 'Житомирська'],\n  ['sarny', 'Рівненська'],\n  ['bobrytsia', 'Київська'],\n  ['kolonshchyna', 'Київська'],\n  ['illichanka', 'Одеська'],\n  ['pulivtsi', 'Хмельницька'],          \n  ['chornobyl', 'Київська'],\n  ['zviahel', 'Житомирська'],\n  ['brytivka', 'Одеська'],\n  ['mukachevo', 'Закарпатська'],\n  ['hatne', 'Київська'],\n  ['snovsk', 'Чернігівська'],\n  ['myrhorod', 'Полтавська'],\n  ['smoline', 'Кіровоградська'],\n  ['myhila', 'Миколаївська'],            \n  ['tatariv', 'Івано-Франківська'],\n  ['hora', 'Київська'],\n  ['ovruch', 'Житомирська'],\n  ['troitske', 'Луганська'],             \n  ['bereza', 'Рівненська'],             \n  ['kamianske', 'Дніпропетровська'],\n  ['zdovbytsia', 'Рівненська'],\n  ['zoria', 'Рівненська'],\n  ['rokytne', 'Київська'],               \n  ['lozuvatka', 'Дніпропетровська'],\n  ['slavsko', 'Львівська'],\n  ['smyha', 'Рівненська'],\n  ['holovyn', 'Житомирська'],\n  ['chornukhy', 'Полтавська'],\n  ['tomashhorod', 'Рівненська'],\n]);\n\nconst toKey = s => String(s || '')\n  .normalize('NFKD')\n  .toLowerCase()\n  .replace(/[їіґє]/g, m => ({'ї':'i','і':'i','ґ':'g','є':'ie'}[m]))\n  .trim();\n\nconst nowMs = Date.now();\nconst maxAgeMs = HOURS_BACK * 3600 * 1000;\n\nconst out = [];\n\nfor (const item of $input.all()) {\n  const st = item.json;\n\n  const cityRaw = st.cityName || st.settlement || st.localName || st.stationName || '';\n  const cityKey = toKey(cityRaw);\n  const oblast  = cityToOblast.get(cityKey) || null;\n\n  const plist = Array.isArray(st.pollutants) ? st.pollutants : [];\n  for (const p of plist) {\n    const polName = String(p.pol || '').toUpperCase().replace(/\\s+/g, '');\n    const isWanted = polName === 'PM2.5' || polName === 'PM25' || polName === WANT_POLLUTANT.toUpperCase().replace(/\\s+/g,'');\n    if (!isWanted) continue;\n\n    const val = Number(p.value);\n    const tsMs = Date.parse(p.time || p.timestamp || 0); \n    if (!Number.isFinite(val) || !Number.isFinite(tsMs)) continue;\n\n    if (nowMs - tsMs > maxAgeMs) continue;\n\n\n    const oblast_en = oblastEn(oblast);\n    \n    out.push({\n      json: {\n        city: String(cityRaw),\n        oblast_en ,\n        pollutant: 'PM2.5',\n        value: val,\n        ts: Math.floor(tsMs / 1000),\n        unit: p.unit || 'µg/m³',\n        station: st.stationName || st.localName || st.id || null,\n        lat: st.latitude || null,\n        lon: st.longitude || null,\n      }\n    });\n  }\n}\n\nreturn out;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        0
      ],
      "id": "c23273c5-a97e-4160-9169-950d4445aa86",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all().map(i => i.json);\nconst byOblast = new Map();\n\nfor (const r of items) {\n  const key = r.oblast_en || 'Невідома область';\n  if (!byOblast.has(key)) byOblast.set(key, []);\n  byOblast.get(key).push(r.value);\n}\n\nfunction avg(arr){ return Math.round((arr.reduce((a,b)=>a+b,0)/arr.length)*100)/100; }\n\nconst rows = [];\nfor (const [oblast_en, arr] of byOblast) {\n  rows.push({ oblast_en, avg: avg(arr), n: arr.length });\n}\nrows.sort((a,b)=> b.avg - a.avg);\n\nconst lines = rows.map(r => `• ${r.oblast_en}: ${r.avg} µg/m³ (станцій: ${r.n})`);\nconst text = `PM2.5 — середні за областями (останні ~2 год)\\n` + lines.join('\\n');\n\nreturn [{\n  json: {\n    summary: text,\n    labels: rows.map(r=>r.oblast_en),\n    data: rows.map(r=>r.avg),\n    table: rows\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        0
      ],
      "id": "9e997cd7-ba64-4715-8cc9-8119d984f624",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        224,
        0
      ],
      "id": "a2677553-1fa7-4204-a11d-89d9739ad8b6",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.first().json.table || $input.all().map(i => i.json);\n\nconst fmt = new Intl.DateTimeFormat('en-GB', {\n  timeZone: 'Europe/Kyiv',\n  year: 'numeric', month: '2-digit', day: '2-digit',\n  hour: '2-digit', minute: '2-digit', second: '2-digit',\n  hour12: false,\n});\nconst parts = Object.fromEntries(fmt.formatToParts(new Date()).map(p => [p.type, p.value]));\nconst day  = `${parts.year}-${parts.month}-${parts.day}`; \nconst hour = parts.hour.padStart(2, '0');                 \n\nreturn rows.filter(r => Number.isFinite(Number(r.avg)) && Number(r.avg) >= 0).filter(r => r.oblast_en && r.oblast_en !== 'Unknown').map(r => ({\n  json: {\n    id: `${day}_${hour}_${r.oblast_en}`, \n    day,\n    hour: Number(hour),\n    oblast: r.oblast_en,\n    avg_pm25: Number(r.avg),\n    stations: Number(r.n),\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        0
      ],
      "id": "85755035-d098-4cf1-9303-cd97954e0570",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO pm25_hourly (id, day, hour, oblast, avg_pm25, stations)\nVALUES (\n  '{{$json.id}}',\n  '{{$json.day}}',\n  {{$json.hour}},\n  '{{$json.oblast}}',\n  {{$json.avg_pm25}},\n  {{$json.stations}}\n)\nON CONFLICT (id) DO UPDATE\nSET avg_pm25 = EXCLUDED.avg_pm25,\n    stations = EXCLUDED.stations,\n    inserted_at = now();\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1184,
        0
      ],
      "id": "a569050a-19b3-4873-ac8b-2004cd0738d2",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "PGSaM7PSeBcZoF2B",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "530d85f4-bbaa-4e0e-ad8b-79e257010dca",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4e5b0ec07144cbfc2bc5e3ffa2c8c6b23571e4ea9fc98b87f0501bd785e77be3"
  },
  "id": "r9viOEYhhbk6z9KC",
  "tags": []
}